/SarkicilarProjesi/nbproject/private/
/SarkicilarProjesi/build/
/LinkedList/nbproject/private/
/LinkedList/build/
/YurtDışıÇıkışProgramı/nbproject/private/
/YurtDışıÇıkısProgramı/nbproject/private/
/YurtDışıÇıkısProgramı/build/
/GeometrikSekilHesaplama/nbproject/private/
/JavaApplication17/nbproject/private/
/GeometrikSekilHesaplama/build/
/MatematikVeFizikProblemleri/nbproject/private/
/MatematikVeFizikProblemleri/build/
/YgsLysBirincileri/nbproject/private/
/YgsLysBirincileri/build/
/HarfFrekansı/nbproject/private/
/HarfFrekansı/build/
/PolindromeBulma/nbproject/private/
/PolindromeBulma/build/
/RamazanPidesiKuyrugu/nbproject/private/
/RamazanPidesiKuyrugu/build/
/AcilServisUygulamasi/nbproject/private/
/AcilServisUygulamasi/build/
/KumandaIterable/nbproject/private/
/FıleOutputStream/nbproject/private/
/FıleOutputStream/build/
